<div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
  <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
    <div class="md:w-6/12 lg:w-3/12 flex justify-center">
      <img class="rounded-lg" src="<%= @image_url %>" alt="Logo do Code Marathon" loading="lazy">
    </div>
    <div class="md:w-6/12 lg:w-9/12">
      <h2 class="text-center text-2xl text-gray-900 font-bold md:text-4xl"><%= @title %></h2>
      <p class="mt-6 text-gray-600">
        <%= content %>
      </p>
    </div>
  </div>
</div>
