<div class="max-w-4xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="px-6 py-28 sm:px-0 text-center">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Code Marathon</h1>
    
    <p class="text-center mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Seja bem-vind@! O Code Marathon é um sistema onde pessoas interessadas 
      por Maratona de Programação e Olimpíada Brasileira de Informática podem 
      aprender os conteúdos recorrentes nessas competições.
    </p>

    <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
      Quero Aprender
      <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
  </div>
</div>