<div class="p-12 bg-slate-50">
  <%= render(TabsComponent.new) do |tabs| %>
    <% @categories.each do |category| %>
      <% tabs.with_tab(
        title: category.name, 
        url: category_path(category.slug), 
        is_active: (category.slug == @category.slug)
      ) %>
    <% end %>
    <% tabs.with_body do %>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
        <% @subjects.each do |subject| %>
          <%= render(SubjectCardComponent.new(
            title: subject.name,
            image_url: asset_path(@category.image),
            obi_frequency: subject.obi_frequency,
            icpc_frequency: subject.icpc_frequency,
            link_url: category_subject_path(@category.slug, subject.slug)
          ))%>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
